.honeyCombRowOfFour {
 width:100%;
 margin-top:-70px;
 display:block;
 float:left;
 //text-align:center;
}
.honeyCombRowOfThree {
 width:100%;
 margin-top:-70px;
 display:block;
 float:left;
 margin-left: 150px;
}
.honeyComb {
  display: inline-block;
  position: relative;
  width: 280px !important;
  height: 316px !important;
  margin-right: 20px;
}
.honeyComb:hover {
  .overlayer {
    opacity: 0;

  }
}
.honeyCombHome {
  display: inline-block;
  position: relative;
  width: 300px !important;
  height: 338.9px !important;
  //margin-right: 5px;
}
.honeyCombHome:hover {
  .overlayer {
    max-width: 250px;
    opacity: 0;

  }
}
.honeyThumb {
    max-width: 300px;
  }
.honeyCombHome p {
  font-family: "aaux-next", sans-serif;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left:31%;
  right:13%;
  letter-spacing: .5px;
  z-index: 1000;
}
.overlayer {
  opacity: 1;
  max-width: 300px;
  position: absolute;
}
.fourRow {
  margin-top: -70px !important;
}
.threeRow {
  margin-left: 0px !important;
  margin-top: -70px !important;
}
.threeRowStart {
  margin-left: 120px !important;
  margin-top: -70px !important;
}
.modal-dialog {
  margin-top:150px;
  left:-6%
}
.modal-content{
  border-radius: 0px;
  height: 380px;
  width: 140%;
}
.modal-body {
  padding:0;
}
.col-sm-6 {
  padding-left: 0px;
  padding-right: 0px;
  width: 360px
}
img.tm{
  max-height: 378px;
  margin-top:-1px;
  text-align:center;
  margin-left: -15px;
}
.fa-times-circle {
	padding:10px;
  margin-left: 440px;
  cursor: pointer;
}
@media (max-width: 1440px) {
  img.tm{
    margin-left:-15px;
  }
}
@media (max-width: 1280px){
  .honeyCombContainer{
    width:100% !important;
  }

  .honeyCombRowOfFour{
    // margin:auto !important;
    text-align:center;
    margin-left: 100px;
    width:80%;
    float:none;
  }

  .honeyCombRowOfThree{
    margin-top: -1px;

    margin-left: 0px;
    text-align:center;
    width:100%;
  }
  .threeRowStart{
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .threeRow {
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .fourRow {
    margin:auto !important;
    text-align:center;
    width:100%;
  }

  .hexText{
    height: auto !important;
    padding-top: 0 !important;
    width: 100% !important;
    position: absolute;
    text-align: center;
    top: 41% !important;
  }
  img.tm{
    margin-left:-15px;
  }
}
@media (max-width: 1024px){
  .modal-dialog {
    left:8%;
    margin:0;
    margin-top: 10vh;
  }
}
@media (max-width: 992px){
  .honeyCombContainer{
    width:100% !important;
  }

  .honeyCombRowOfFour{
    margin:auto !important;
    text-align:center;
    width:80%;
    float:none;
  }

  .honeyCombRowOfThree{
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .threeRowStart{
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .threeRow {
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .fourRow {
    margin:auto !important;
    text-align:center;
    width:100%;
  }

  .hexText{
    height: auto !important;
    padding-top: 0 !important;
    width: 100% !important;
    position: absolute;
    text-align: center;
    top: 41% !important;
  }
  .modal-dialog {
    min-height: 100vh;
    left:11%;
  }
}
@media (max-width:895px){
  .gallery-text{
    margin-top:-35px !important;
  }
}
@media (max-width: 776px){
  .honeyCombRowOfFour{
    margin:auto !important;
    text-align:center;
    width:100%;
  }

  .honeyCombRowOfThree{
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .honeycombContainer{
    width:100%;
  }
  .honeyCombHome p {
    position: absolute;
    left:20%;
    right:20%;
  }
  .gallery-text{
    margin-top:-25px !important;
  }
  .threeRowStart{
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .threeRow {
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .fourRow {
    margin:auto !important;
    text-align:center;
    width:100%;
  }
  .modal-dialog{
    margin-top: 10px;
    margin-left:0;
  }
  .modal-content{
    height:100%;
    text-align: center;
    width: 100%;
  }
   img.tm {
    padding-left: 6.1em;
    margin-left:0;
  }
  .fa-times-circle {
  	//position: absolute;
    // margin-left: 286px;
  }
  .modal-content.team {
    // margin: -15px;
  }
}

@media (max-width: 736px) {
  .modal-dialog {
      left:4em;
      width:80vw;
  }
}

@media (max-width: 667px) {
  .modal-dialog {
    left:0;
    width:100vw;
  }
  img.tm {
    padding-left: 8em;
    margin-left:0;
}
}
@media (max-width: 414px) {
  img.tm {
    padding-left: 1.5em;
    padding-top:10px;
    margin-left:0;
}
.modal-dialog {
  width:100vw;
}
}
@media (max-width: 375px){
  img.tm {
   padding-left: 10px;
   margin-left:0;
 }
 .modal-dialog{
   margin-top: 10px;
   left:0;
 }
 .col-sm-12 {
   padding-top:10px;
 }
}
