.modal-content{
  border-radius:0;
  height: 775px;
  width:725px;
}
// img {
//   height:750px;
// }
.left.carousel-control {
  margin-left: -50px;
  background-color:#333;
  width:40px;
  background-image:none
}
.right.carousel-control {
  margin-right: -50px;
  background-color:#333;
  width:40px;
  background-image:none
}

.fa-2x.fa-angle-left {
  color:white;
  padding-top:80px;
  font-size:1.5em
}
.fa-2x.fa-angle-right {
  color:white;
  padding-top:80px;
  font-size:1.5em
}
.wrkDetail.col-sm-12 {
  margin-top: -160px;
}

@media (max-width: 776px){
  .wrkDetail.col-sm-12 {
    margin-top: -260px;
  }

  .modal-content{
    height: 300px;
    width:340px;
  }

  .col-md-4.col-cd-offset-1.col-xs-12 {
        margin-top: 40px;
  }

  .col-md-4.col-cd-offset-1.col-xs-12.serv {
        margin-top: 60px;
  }

  .hexagon .gallery-text {
    top: -90px;
  }

  .gallery-text.serv {
    top: -50px;
  }

  .carousel-inner {
    text-align: center;
  }

  .left.carousel-control {
    margin-left: -30px;
    background-color:#333;
    width:60px;
    background-image:none
  }
  .right.carousel-control {
    margin-right: -30px;
    background-color:#333;
    width:60px;
    background-image:none
  }

  .fa-2x.fa-angle-left {
    color:white;
    padding-top:375px;
    font-size:1.5em
  }
  .fa-2x.fa-angle-right {
    color:white;
    padding-top:375px;
    font-size:1.5em
  }
}
