<div data-footermenu="" class="ng-isolate-scope">
    <div><a class="bloc-button btn btn-d scrollToTop showScrollTop"><span class="fa fa-chevron-up"></span></a>
        <div class="bloc-group">
            <div id="bloc-16" class="bloc bloc-tile-3 bgc-white l-bloc">
                <div class="container bloc-lg">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="mg-md" data-ui-sref="contact" style="cursor: pointer;" href="/contact">APPLIED BUILDING SCIENCES, INC. | CONTACT US</h6>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="home" style="cursor: pointer;" href="/">HOME</h6></div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="team" style="cursor: pointer;" href="/team">TEAM</h6></div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="work" style="cursor: pointer;" href="/work">WORK</h6>
                                    <!-- ngRepeat: serviceProvided in allWorkServicesProvided -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="work({service: serviceProvided})" data-ng-repeat="serviceProvided in allWorkServicesProvided" style="cursor: pointer;" href="/work">FORENSIC CONSULTING</h5>
                                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="work({service: serviceProvided})" data-ng-repeat="serviceProvided in allWorkServicesProvided" style="cursor: pointer;" href="/work">ARCHITECTURE</h5>
                                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
                                </div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="services" style="cursor: pointer;" href="/services">SERVICES</h6>
                                    <!-- ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">LIFE SAFETY &amp; HUMAN FACTORS</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">BUILDING ENCLOSURE</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">ARCHITECTURE</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">FORENSIC CONSULTING</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">ENGINEERING SERVICES</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bloc-17" class="bloc l-bloc bgc-white bloc-tile-3">
                <div class="container bloc-lg">
                    <div class="row">
                        <div class="col-sm-12"></div>
                    </div>
                </div>
            </div>
            <div id="bloc-18" class="bloc bloc-tile-3 bgc-white l-bloc">
                <div class="container bloc-lg">
                    <div class="row">
                        <div class="col-sm-12"><img class="img-responsive" src="img/ABS_footer_logo.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
