
<div data-ui-view="" class="ng-scope">
    <div id="homePage" class="ng-scope">
        <div class="page-container">
            <div data-navheader="" data-mainpage="mainPage" data-slide="slide" class="ng-isolate-scope">
                <div>
                    <div id="bloc-0" class="bloc bgc-white l-bloc navBig">
                        <div class="container bloc-sm">
                            <nav class="navbar navbar-default navbar-fixed-top navShadow" data-ng-class="slide.workNav ? 'navShadow' : 'noShadow' || slide.serviceNav ? 'navShadow' : 'noShadow' || slide.teamNav ? 'navShadow' : 'noShadow'" style="background-color: white;">
                                <div class="navbar-header">
                                    <div class="navbar-brand" data-ui-sref="home" href="/"><img src="img/ABS_logo.png" alt="logo" width="247" style="cursor: pointer;"></div>
                                </div>
                                <div class="navbar-collapse navbar-1 collapse hidden-md" style="box-shadow: rgba(0, 0, 0, 0.0470588) 0px 3px 8px 4px inset; background-color: rgb(246, 246, 246);">
                                    <ul class="site-navigation nav navbar-nav" style="border-top: none;">
                                        <li style="padding-right: 20px; text-align: center;">
                                            <div id="team" class="tk-aaux-next ltc-royal-blue-traditional" data-ui-sref="team" data-ng-class="mainPage === 'team' ? 'active' : 'ltc-royal-blue-traditional'" style="cursor: pointer; font-size: 16px; line-height: 5px; padding-top: 15px; padding-bottom: 15px; font-weight: 600 !important;"
                                                href="/team">TEAM</div>
                                        </li>
                                        <li style="padding-right: 20px; text-align: center;">
                                            <div id="work" class="tk-aaux-next ltc-royal-blue-traditional" data-ui-sref="work({service: defaultWorkService})" data-ng-click="setWorkService()" data-ng-class="mainPage === 'work' ? 'active' : 'ltc-royal-blue-traditional'"
                                                style="cursor: pointer; font-size: 16px; line-height: 5px; padding-top: 15px; padding-bottom: 15px; font-weight: 600 !important;" href="/work">WORK</div>
                                        </li>
                                        <li style="padding-right: 20px; text-align: center;">
                                            <div id="services" class="tk-aaux-next ltc-royal-blue-traditional" data-ng-click="setSelectedService()" data-ui-sref="services()" data-ng-class="mainPage === 'services' ? 'active' : 'ltc-royal-blue-traditional'"
                                                style="cursor: pointer; font-size: 16px; line-height: 5px; padding-top: 15px; padding-bottom: 15px; font-weight: 600 !important;" href="/services">SERVICES</div>
                                        </li>
                                        <li style="margin-right: 10px;"><a data-ui-sref="contact" data-ng-class="page === 'contact' ? 'greenContact' : 'blueContact'" style="color: white; line-height: 5px; font-weight: bold; margin: auto; width: 140px; text-align: center; padding-top: 15px; padding-bottom: 15px;"
                                                href="/contact" class="blueContact">CONTACT</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <nav class="navbar navbar-default navSmall" style="z-index: 20; display: none; padding-top: 10px; box-shadow: rgba(0, 0, 0, 0.0470588) 0px 3px 8px 4px inset; background-color: rgb(246, 246, 246);">
                        <div class="container-fluid">
                            <div class="navbar-header"><button class="navbar-toggle" data-toggle="collapse" data-target="#toggleNav"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                <div
                                    class="navbar-brand" data-ui-sref="home" href="/"><img src="img/ABS_logo.png" alt="logo" width="247" style="cursor: pointer;"></div>
                        </div>
                        <div class="collapse navbar-collapse" id="toggleNav" style="height: 100% !important;">
                            <ul class="nav navbar-nav" style="box-shadow: rgba(0, 0, 0, 0.0470588) 0px 3px 8px 4px inset; margin-top: -4px; height: 100vh; border-top-style: none;">
                                <li class="dropdown" style="text-align: center;">
                                    <p data-ng-class="mainPage === 'team' ? 'active' : 'ltc-royal-blue-traditional'" data-ng-click="teamDropClosed = !teamDropClosed; workDropClosed = true; serviceDropClosed = true" style="cursor: pointer; font-size: 20px; line-height: 5px; padding-top: 15px; padding-bottom: 15px;"
                                        class="ltc-royal-blue-traditional">TEAM</p>
                                </li>
                                <ul class="dropMenu ng-hide" data-ng-hide="teamDropClosed" style="background-color: rgb(175, 186, 181); margin-top: 80px; padding-left: 0px; text-align: center; width: 100%;">
                                    <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                                        <div data-ui-sref="team" style="cursor: pointer; border-bottom: 1px solid white; margin: auto; padding: 20px; width: 300px; color: white;" href="/team">ALL</div>
                                    </li>
                                    <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                                        <div style="cursor: pointer; border-bottom: 1px solid white; margin: auto; padding: 20px; width: 300px; color: white;">
                                            <div data-ui-sref="team({division: 'Leadership'})" href="/team">LEADERSHIP</div>
                                        </div>
                                    </li>
                                    <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                                        <div data-ui-sref="team({division: 'Architecture'})" style="cursor: pointer; border-bottom: 1px solid white; margin: auto; padding: 20px; width: 300px; color: white;" href="/team">ARCHITECTURE</div>
                                    </li>
                                    <li style="text-align: center; color: white; padding: 20px; font-size: 16px; list-style: none; width: 100%;">
                                        <div data-ui-sref="team({division: 'Engineering'})" style="color: white; cursor: pointer;" href="/team">ENGINEERING</div>
                                    </li>
                                </ul>
                                <li class="dropdown" style="text-align: center;">
                                    <p data-ng-click="workDropClosed = !workDropClosed; teamDropClosed = true; serviceDropClosed = true" data-ng-class="mainPage === 'work' ? 'active' : 'ltc-royal-blue-traditional'" style="cursor: pointer; font-size: 20px; line-height: 5px; padding-top: 15px; padding-bottom: 15px;"
                                        class="ltc-royal-blue-traditional">WORK</p>
                                </li>
                                <ul class="dropMenu ng-hide" data-ng-hide="workDropClosed" style="background-color: rgb(175, 186, 181); margin-top: 160px; padding-left: 0px; text-align: center; width: 100%;">
                                    <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                                        <!-- ngRepeat: serviceProvided in allWorkServicesProvided -->
                                        <div data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ui-sref="work({service: serviceProvided})" style="border-bottom: 1px solid white; margin: auto; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope"
                                            href="/work">ARCHITECTURE</div>
                                        <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
                                        <div data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ui-sref="work({service: serviceProvided})" style="border-bottom: 1px solid white; margin: auto; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope"
                                            href="/work">FORENSIC CONSULTING</div>
                                        <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
                                    </li>
                                </ul>
                                <li class="dropdown" style="text-align: center;">
                                    <p data-ng-click="serviceDropClosed = !serviceDropClosed; workDropClosed = true; teamDropClosed = true" data-ng-class="mainPage === 'services' ? 'active' : 'ltc-royal-blue-traditional'" style="cursor: pointer; font-size: 20px; line-height: 5px; padding-top: 15px; padding-bottom: 15px;"
                                        class="ltc-royal-blue-traditional">SERVICES</p>
                                </li>
                                <ul class="dropMenu ng-hide" data-ng-hide="serviceDropClosed" style="background-color: rgb(175, 186, 181); margin-top: 260px; padding-left: 0px; text-align: center; width: 100%;">
                                    <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                                        <!-- ngRepeat: service in allServices -->
                                        <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; margin: auto; padding: 20px; width: 250px; color: white;" class="ng-binding ng-scope"
                                            href="/services">ARCHITECTURE</div>
                                        <!-- end ngRepeat: service in allServices -->
                                        <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; margin: auto; padding: 20px; width: 250px; color: white;" class="ng-binding ng-scope"
                                            href="/services">FORENSIC CONSULTING</div>
                                        <!-- end ngRepeat: service in allServices -->
                                        <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; margin: auto; padding: 20px; width: 250px; color: white;" class="ng-binding ng-scope"
                                            href="/services">BUILDING ENCLOSURE</div>
                                        <!-- end ngRepeat: service in allServices -->
                                        <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; margin: auto; padding: 20px; width: 250px; color: white;" class="ng-binding ng-scope"
                                            href="/services">LIFE SAFETY &amp; HUMAN FACTORS</div>
                                        <!-- end ngRepeat: service in allServices -->
                                        <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; margin: auto; padding: 20px; width: 250px; color: white;" class="ng-binding ng-scope"
                                            href="/services">ENGINEERING SERVICES</div>
                                        <!-- end ngRepeat: service in allServices -->
                                    </li>
                                </ul>
                                <li style="margin-right: 10px;"><a data-ui-sref="contact" data-ng-class="page === 'contact' ? 'greenContact' : 'blueContact'" style="color: white; line-height: 5px; font-weight: bold; margin: auto; width: 140px; text-align: center; padding-top: 15px; padding-bottom: 15px;"
                                        href="/contact" class="blueContact">CONTACT</a></li>
                            </ul>
                        </div>
                </div>
                </nav>
                <div class="row subnav-navigation subnavbar slideNav slideNavUp" data-ng-class="slide.workNav ? 'slideNavDown' : 'slideNavUp'" style="background-color: rgb(197, 206, 202); overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
                    <!-- ngRepeat: serviceProvided in allWorkServicesProvided -->
                    <div class="subnavitem col-xs-6 col-md-6 ng-scope" data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ng-click="setWorkService(serviceProvided)" style="border-left: none;">
                        <div data-ui-sref="work({service: serviceProvided})" data-ng-class="selectedWorkService.fields.pageTitle === serviceProvided.fields.pageTitle ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" class="ng-binding greenNav"
                            href="/work">ARCHITECTURE</div>
                    </div>
                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
                    <div class="subnavitem col-xs-6 col-md-6 ng-scope" data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ng-click="setWorkService(serviceProvided)" style="border-left: none;">
                        <div data-ui-sref="work({service: serviceProvided})" data-ng-class="selectedWorkService.fields.pageTitle === serviceProvided.fields.pageTitle ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" class="ng-binding clearNav"
                            href="/work">FORENSIC CONSULTING</div>
                    </div>
                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
                </div>
                <div class="row subnav-navigation subnavbar slideNav slideNavUp" id="serviceNav" data-ng-class="slide.serviceNav ? 'slideNavDown' : 'slideNavUp'" style="background-color: rgb(197, 206, 202); overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
                    <!-- ngRepeat: service in allServices -->
                    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
                        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding greenNav" href="/services">ARCHITECTURE</div>
                    </div>
                    <!-- end ngRepeat: service in allServices -->
                    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
                        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding clearNav" href="/services">FORENSIC CONSULTING</div>
                    </div>
                    <!-- end ngRepeat: service in allServices -->
                    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
                        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding clearNav" href="/services">BUILDING ENCLOSURE</div>
                    </div>
                    <!-- end ngRepeat: service in allServices -->
                    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
                        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding clearNav" href="/services">LIFE SAFETY &amp; HUMAN FACTORS</div>
                    </div>
                    <!-- end ngRepeat: service in allServices -->
                    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
                        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding clearNav" href="/services">ENGINEERING SERVICES</div>
                    </div>
                    <!-- end ngRepeat: service in allServices -->
                </div>
                <div class="row subnav-navigation subnavbar slideNav slideNavDown" id="teamNav" data-ng-class="slide.teamNav ? 'slideNavDown' : 'slideNavUp'" style="background-color: rgb(197, 206, 202);">
                    <div class="subnavitem col-xs-3 col-md-3" style="border-left: none;">
                        <div data-ng-click="setDivision('All')" data-ui-sref="team({division: 'All'})" data-ng-class="headerDivision.current === 'All' ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" href="/team" class="greenNav">ALL</div>
                    </div>
                    <div class="subnavitem col-xs-3 col-md-3">
                        <div data-ng-click="setDivision('Leadership')" data-ui-sref="team({division: 'All'})" data-ng-class="headerDivision.current === 'Leadership' ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" href="/team" class="clearNav">LEADERSHIP</div>
                    </div>
                    <div class="subnavitem col-xs-3 col-md-3">
                        <div data-ng-click="setDivision('Architecture')" data-ui-sref="team({division: 'Architecture'})" data-ng-class="headerDivision.current === 'Architecture' ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" href="/team"
                            class="clearNav">ARCHITECTURE</div>
                    </div>
                    <div class="subnavitem col-xs-3 col-md-3">
                        <div data-ng-click="setDivision('Engineering')" data-ui-sref="team({division: 'Engineering'})" data-ng-class="headerDivision.current === 'Engineering' ? 'greenNav' : 'clearNav'" href="/team" class="clearNav">ENGINEERING</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="closeNav" style="margin-top: 95px;">
            <div id="bloc-7" class="bloc bgc-white bg-Team-Placeholder-Header d-bloc">
                <div class="container bloc-lg">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="mg-md text-center tc-white ng-binding">Team</h1></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bloc-12" class="bloc bg-Halftone-Pattern tc-prussian-blue" style="background-color: rgb(246, 246, 246); box-shadow: rgba(0, 0, 0, 0.0470588) 0px -3px 8px 4px inset; height: 80%;">
            <div class="container bloc-lg">
                <div class="row" style="padding-bottom: 50px;">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3 class="tk-aaux-next mg-md text-left tc-prussian-blue" style="font-size: 24px; line-height: 28px;"><strong class="ng-binding">ABS is a dedicated team of professionals from diverse construction-related fields. </strong></h3>
                        <p class="tk-aaux-next mg-md text-left tc-prussian-blue ng-binding">Our team includes architects, engineers, and human factors specialists. Fully credentialed and licensed in 22 states, our exceptional team provides attentive, responsive service in a consolidated approach covering the full range
                            of building sciences. </p>
                    </div>
                </div>
                <div class="shadow">
                <div class="container">
                  <a class="hexThumb" href="#">
                    <span>
                    Scott Harvey
                    </span>
                  <img  src="https://images.contentful.com/lxejsmju70ex/1A4evXLRPeESOimkgWYGgm/9b4e9dca480788c34b30dbf002cb4161/ABS-Team-Scott-Harvey__2x.jpg">
                  </a>
                </div>
                </div>

                <svg class="clip-svg" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 viewBox="0 0 280 316" style="enable-background:new 0 0 280 316;" xml:space="preserve">
                  <defs>
                    <clipPath id="hexContainer" clipPathUnits="userSpaceOnUse">
                      <path d="M272.4,242.8l-125,71.2c-4.6,2.6-10.3,2.6-14.9,0l-125-71.2c-4.7-2.7-7.6-7.6-7.6-13V87.5c0-5.3,2.8-10.3,7.5-13L132.5,2
                	c4.7-2.7,10.4-2.7,15.1,0l125,72.5c4.6,2.7,7.5,7.6,7.5,13v142.2C280,235.1,277.1,240.1,272.4,242.8z"/>
                    </clipPath>
                  </defs>
                </svg>
                <svg class="clip-svg" width="0" height="0" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 viewBox="0 0 250 283.2" style="enable-background:new 0 0 250 283.2;" xml:space="preserve">
                  <defs>
                    <clipPath id="hexThumb" clipPathUnits="userSpaceOnUse">
                      <path d="M245,216.3l-115,65.6c-3.1,1.7-6.8,1.7-9.9,0L5,216.3c-3.1-1.8-5-5.1-5-8.7V76.7c0-3.6,1.9-6.9,5-8.7L120,1.3
                	c3.1-1.8,6.9-1.8,10,0L245,68c3.1,1.8,5,5.1,5,8.7v130.9C250,211.2,248.1,214.5,245,216.3z"/>
                    </clipPath>
                  </defs>
                </svg>





                <div class="row voffset">
                    <div class="honeyCombContainer" id="honeyCombContainer" style="position: relative; width: 965px; display: block; margin: 0px auto;">
                        <!-- ngIf: filteredMembers.length -->
                        <div class="honeyCombRowOfFour ng-scope" data-ng-if="filteredMembers.length">
                            <!-- ngRepeat: member in filteredMembers[0] -->
                            <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[0]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
                                <div
                                    class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">Alan O. Campbell</span></div>
                        </a>
                        <!-- end ngRepeat: member in filteredMembers[0] -->
                        <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[0]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
                            <div
                                class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">L. Steven Moore</span></div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[0] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[0]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
                        <div
                            class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">Stephanie Borzendowski</span></div>
                </a>
                <!-- end ngRepeat: member in filteredMembers[0] -->
                <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[0]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
                    <div
                        class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">Parker Shields</span></div>
            </a>
            <!-- end ngRepeat: member in filteredMembers[0] -->
        </div>
        <!-- end ngIf: filteredMembers.length -->
        <!-- ngIf: filteredMembers.length > 4 -->
        <div class="honeyCombRowOfThree ng-scope" data-ng-if="filteredMembers.length > 4">
            <!-- ngRepeat: member in filteredMembers[1] -->
            <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[1]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
                <div
                    class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">Scott A. Harvey</span></div>
        </a>
        <!-- end ngRepeat: member in filteredMembers[1] -->
        <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[1]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
            <div
                class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">John  Greenan</span></div>
    </a>
    <!-- end ngRepeat: member in filteredMembers[1] -->
    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[1]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
        <div
            class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">M. Joseph  Shahid, Jr.</span></div>
</a>
<!-- end ngRepeat: member in filteredMembers[1] -->
</div>
<!-- end ngIf: filteredMembers.length > 4 -->
<!-- ngIf: filteredMembers.length > 7 -->
<div class="honeyCombRowOfFour ng-scope" data-ng-if="filteredMembers.length > 7">
    <!-- ngRepeat: member in filteredMembers[2] -->
    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[2]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
        <div
            class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">Edward  Polk</span></div>
</a>
<!-- end ngRepeat: member in filteredMembers[2] -->
<a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[2]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
    <div
        class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">Bobby  Funcik</span></div>
</a>
<!-- end ngRepeat: member in filteredMembers[2] -->
<a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[2]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
    <div
        class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">Alan  Schweichkhardt</span></div>
</a>
<!-- end ngRepeat: member in filteredMembers[2] -->
<a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[2]"><img class="overlayer" src="img/greenOverlay.png" style="position: absolute;"><img data-ng-src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png" src="//images.contentful.com/lxejsmju70ex/5ZALd5MNs48yuseY2qy8Mw/5491ef927c9fd3d1382a15a6b8f65e06/placeholder.png">
    <div
        class="hexText" style="height: 284px; padding-top: 53%; width: 253px; position: absolute; z-index: 2; text-align: center; top: -10px;"><span style="font-weight: bold; color: white; display: inline-block; vertical-align: middle; padding-right: 10px;" class="ng-binding">Alan O.  Campbell</span></div>
</a>
<!-- end ngRepeat: member in filteredMembers[2] -->
</div>
<!-- end ngIf: filteredMembers.length > 7 -->
<!-- ngIf: filteredMembers.length > 11 -->
<!-- ngIf: filteredMembers.length > 14 -->
<!-- ngIf: filteredMembers.length > 18 -->
</div>
</div>
</div>
<div id="myModal" class="modal fade" style="display: none;">
    <div class="modal-dialog" style="margin-top: 150px; left: -6%;">
        <div class="modal-content" style="border-radius: 0px; height: 402px; width: 130%;">
            <div class="modal-body" style="padding: 0px;"><button class="close" type="button" data-dismmiss="modal" style="padding: 10px;"><span>x</span></button>
                <div class="col-sm-4" style="padding-top: 100px;"><img class="img-responsive center-block" alt="" data-ng-src="//images.contentful.com/lxejsmju70ex/VH8eNGfTYkucIYcimEaU/d3649160f5a98a2b6d641c0e5745be80/Scott_Harvey_IMG_7123.jpg" src="//images.contentful.com/lxejsmju70ex/VH8eNGfTYkucIYcimEaU/d3649160f5a98a2b6d641c0e5745be80/Scott_Harvey_IMG_7123.jpg"></div>
                <div
                    class="col-sm-7" style="padding-left: 40px;">
                    <h4 style="padding-top: 40px;"><strong class="ng-binding">Scott A. Harvey</strong></h4>
                    <h4 class="ng-binding">AIA, RWC, LEED AP </h4>
                    <p class="ng-binding">Scott has over 15 years of architectural experience. During the design phase, Scott provides expertise on facility deficiencies, code violations, life safety, and general quality control issues to ensure buildings meet industry standards.
                        He also performs quality assurance reviews during the project documentation phase. </p>
                    <div style="display: block;"><a data-ng-href="mailto:sharvey@appliedbuildingsciences.com" style="display: inline; text-decoration: underline;" class="ng-binding" href="mailto:sharvey@appliedbuildingsciences.com">EMAIL Scott A.</a><br><a style="display: inline; text-decoration: underline;">DOWNLOAD C.V.</a></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div data-footermenu="" class="ng-isolate-scope">
    <div><a class="bloc-button btn btn-d scrollToTop"><span class="fa fa-chevron-up"></span></a>
        <div class="bloc-group">
            <div id="bloc-16" class="bloc bloc-tile-3 bgc-white l-bloc">
                <div class="container bloc-lg">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="mg-md" data-ui-sref="contact" style="cursor: pointer;" href="/contact">APPLIED BUILDING SCIENCES, INC. | CONTACT US</h6>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="home" style="cursor: pointer;" href="/">HOME</h6></div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="team" style="cursor: pointer;" href="/team">TEAM</h6></div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="work" style="cursor: pointer;" href="/work">WORK</h6>
                                    <!-- ngRepeat: serviceProvided in allWorkServicesProvided -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="work({service: serviceProvided})" data-ng-repeat="serviceProvided in allWorkServicesProvided" style="cursor: pointer;" href="/work">FORENSIC CONSULTING</h5>
                                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="work({service: serviceProvided})" data-ng-repeat="serviceProvided in allWorkServicesProvided" style="cursor: pointer;" href="/work">ARCHITECTURE</h5>
                                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
                                </div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="services" style="cursor: pointer;" href="/services">SERVICES</h6>
                                    <!-- ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">LIFE SAFETY &amp; HUMAN FACTORS</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">BUILDING ENCLOSURE</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">ARCHITECTURE</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">FORENSIC CONSULTING</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">ENGINEERING SERVICES</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bloc-17" class="bloc l-bloc bgc-white bloc-tile-3">
                <div class="container bloc-lg">
                    <div class="row">
                        <div class="col-sm-12"></div>
                    </div>
                </div>
            </div>
            <div id="bloc-18" class="bloc bloc-tile-3 bgc-white l-bloc">
                <div class="container bloc-lg">
                    <div class="row">
                        <div class="col-sm-12"><img class="img-responsive" src="img/ABS_footer_logo.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
